
body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.section {
  padding: 7rem 0;
}

.filters a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  font-family: nunito sans;
  font-size: 16px;
  left: -1;
}

.filters a:hover, .filters a:focus, .filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #000;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.stack1
{
  position: relative;
  padding-top: -25px;
}

.stack
{
  position: relative;
  padding-top: -200px;
}
.button{

color:black;
    background:white;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 2px white;
    transition: all ease-in-out 0.3s;
    font-size: 13px;
    white-space: nowrap;
    position: relative;
    padding-right: -15px;
    z-index:1 ;
}
.gambarpojok
{
position: absolute;
left: 1000px;
right: 100px;
top: -160px;
bottom: none;
transform: rotate(-18.43deg);
}
.help
{
  padding-top: 25px;
  font-family:sans-serif;
  font-size:25px;
  padding-left: 115px;
  font-weight: bold;
}
.tulisan{
  padding-left: 115px;
  font-size: 14px;
  font-family: sans-serif;
}
.buttona{
  color:white;
    background: #744FC6;
    padding: 9px 15px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 2px  #744FC6;
    font-family: sans-serif;
}
.buttonb{
  color:black;
    background:#FFFFFF;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border:pink;
    font-family: sans-serif;
    border: 1px solid #744FC6;
    box-sizing: border-box;
}
.button1
{
  padding-left: 100px;
  padding-top: 10px;
}
.buttonc{
  background:red;

}

.box
{
  position: relative;
  width: 1100px;
  height: 100px;
  background: #C4C4C4;
  right: -115px;
  top: 25px;


}
.gambarpojok1
{
position: absolute;
left: -0.4%;
right: -0.1%;
top: 2.3%;
bottom: -32.8%;
width: 600px;
height: 500px;
background: linear-gradient(180deg, rgba(224, 196, 252, 0.9) 0%, rgba(144, 198, 253, 0.9) 100%);
border-radius: 30px;
transform: rotate(-0.43deg);
}

.section-with-bg
{
  background-color: #f3f3f3;
  height: 700px;
  width: 1700px;
  position: relative;

}

.text1
{
  position: relative;
  left: -10px;
  top: -650px;
  text-align: center;
}

.text2
{
  position: relative;
  left: -10px;
  top: -650px;
  text-align: center;
  font-size: x-small;
}

.box1{
  position: relative;
width: 340px;
height: 375px;
left: 110px;
top: -550px;
bottom: 100px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar1{
  position: relative;
  bottom: 930px;
  left: 190px;
}

.text3{
  position: absolute;
  bottom: -220px;
  left: 145px;
  font-size: large;
  font-weight: bold;
}

.garis1{
  position: absolute;
  bottom: -230px;
  left: 270px;
}

.text4{
  position: absolute;
  bottom: -290px;
  left: 145px;
  font-size: 10px;
  text-align: center;
  line-height: 0cm;
}

.button3{
  color:white;
    background: #744FC6;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 1px  #744FC6;
    box-sizing: border-box;
    font-family: sans-serif;
    position: absolute;
    bottom: -350px;
    left: 190px;
}
.box2{
    position: relative;
width: 340px;
height: 375px;
left: 495px;
top: -1110px;
bottom: 100px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar2{
  position: relative;
  bottom: 1495px;
  left: 570px;
}

.text5{
  position: absolute;
  bottom: -220px;
  left: 505px;
  font-size: large;
  font-weight: bold;
}

.garis2{
  position: absolute;
  bottom: -230px;
  left: 650px;
}

.text6{
  position: absolute;
  bottom: -290px;
  left: 530px;
  font-size: 10px;
  text-align: center;
  line-height: 0cm;
}

.button4{
  color:white;
    background: #744FC6;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 1px  #744FC6;
    box-sizing: border-box;
    font-family: sans-serif;
    position: absolute;
    bottom: -350px;
    left: 580px;
}

.box3{
    position: relative;
width: 340px;
height: 375px;
left: 880px;
top: -1670px;
bottom: 100px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar3{
  position: relative;
  bottom: 2050px;
  left: 960px;
}

.text7{
  position: absolute;
  bottom: -220px;
  left: 960px;
  font-size: large;
  font-weight: bold;
}
.garis3{
  position: absolute;
  bottom: -230px;
  left: 1035px;
}

.text8{
  position: absolute;
  bottom: -290px;
  left: 900px;
  font-size: 10px;
  text-align: center;
  line-height: 0cm;
}

.button5{
  color:white;
    background: #744FC6;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 1px  #744FC6;
    box-sizing: border-box;
    font-family: sans-serif;
    position: absolute;
    bottom: -350px;
    left: 970px;
}

.text9{
  position: absolute;
  left: 110px;
  bottom: -595px;
}

.clients{
  position: absolute;
  left: 100px;
  top: 1150px;
}

.clients2{
  position: absolute;
  left: 100px;
  top: 1300px;
}

.button7{
  color:white;
    background: #744FC6;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 1px  #744FC6;
    box-sizing: border-box;
    font-family: sans-serif;
    position: absolute;
    top: 1550px;
    left: 100px;
}

.images{
  position: absolute;
  left: 980px;
  top: 1150px;
  transform: rotate(-5deg);
}

.images3{
  position: absolute;
  top: 1650px;
}

.text10{
   position: absolute;
  left: 600px;
  top: 1650px;
  text-align: center;
}

.box4{
  position: absolute;
width: 270px;
height: 260px;
left: 105px;
top: 1800px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar4{
  position: absolute;
  bottom: -1375px;
  left:130px;
}

.clay{
  position: absolute;
  bottom: -1420px;
  left: 180px;
}

.clay2{
  position: absolute;
  bottom: -1450px;
  left: 190px;
  font-size: x-small;
}

.box5{
  position: absolute;
width: 270px;
height: 260px;
left: 400px;
top: 1800px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar5{
  position: absolute;
  bottom: -1375px;
  left:425px;
}

.gabriel{
  position: absolute;
  bottom: -1420px;
  left: 475px;
}

.gabriel2{
  position: absolute;
  bottom: -1450px;
  left: 490px;
  font-size: x-small;
}

.box6{
  position: absolute;
width: 270px;
height: 260px;
left: 700px;
top: 1800px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar6{
  position: absolute;
  bottom: -1375px;
  left:725px;
}

.taylor{
  position: absolute;
  bottom: -1420px;
  left: 760px;
}

.taylor2{
  position: absolute;
  bottom: -1450px;
  left: 795px;
  font-size: x-small;
}

.box7{
  position: absolute;
width: 270px;
height: 260px;
left: 1000px;
top: 1800px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.gambar7{
  position: absolute;
  bottom: -1375px;
  left:1025px;
}

.simon{
  position: absolute;
  bottom: -1420px;
  left: 1060px;
}

.simon2{
  position: absolute;
  bottom: -1450px;
  left: 1100px;
  font-size: x-small;
}

.section-with-bg2{
  background-color: #f3f3f3;
  height: 410px;
  width: 1555px;
  position: absolute;
  top: 2100px;
}

.rectangle5{
  position: absolute;
  top: 2100px;
  right: 1130px;
}
.rectangle6{
  position: absolute;
  top: 2100px;
  right: 1110px;
}

.get{
  position: absolute;
  top: 2100px;
  left: 600px;
}

.get2{
  position: absolute;
  top: 2150px;
  left: 450px;
}

.box8{
  position: absolute;
left: 300px;
top: 2200px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.box9{
  position: absolute;
left: 700px;
top: 2200px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.box10{
  position: absolute;
left: 300px;
top: 2300px;
background: #FFFFFF;
box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);
border-radius: 16px;
}

.name{
  position: absolute;
  top: 2220px;
  left: 320px;
  font-size: small;
}

.name2{
  position: absolute;
  top: 2220px;
  left: 720px;
  font-size: small;
}

.name3{
  position: absolute;
  top: 2315px;
  left: 320px;
  font-size: small;
}

.button9{
  color:white;
    background: #744FC6;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 1px  #744FC6;
    box-sizing: border-box;
    font-family: sans-serif;
    position: absolute;
    top: 2450px;
    left: 600px;
}

.karyaku1{
  position: absolute;
  top: 2500px;
  left: 130px;
  font-family: sans-serif;
  font-size: 40px;
}
.karyaku2{
  position: absolute;
  top: 2650px;
  left: 130px;
  font-family: sans-serif;
  font-size: 14px;     
}
.icona{
  position: absolute;
  top: 2710px;
  left:130px;
}
              
.iconb{
  position: absolute;
  top: 2710px;
  left: 170px;
}

.iconc{
  position: absolute;
  top: 2710px;
  left: 210px;           
}
.icond{
  position: absolute;
  top: 2710px;
  left: 250px;               
}
.textku{
  position: absolute;
  top: 2550px;
  left: 500px;
  font-weight: bold;
  font-family: nonito sans;
  font-size: 16px;
}
.baris1
{
  line-height: 0.3cm;
  font-size: 16px;
  font-family: nonito sans;
  position: absolute;
  left: 500px;
  top: 2600px;
}
.textku1{
position: absolute;
top: 2550px;
left: 750px;
font-weight: bold;
font-family: nonito sans;
font-size: 16px;
}
.baris2
{
 line-height: 0.3cm;
 font-size: 16px;
 font-family: nonito sans;
 position: absolute;
 left: 750px;
 top: 2600px;
}
.textku3{
 position: absolute;
 top: 2550px;
 left: 1100px;
 font-weight: bold;
 font-family: nonito sans;
 font-size: 16px;
}
.baris3
{
 line-height: 0.3cm;
 font-size: 16px;
 font-family: nonito sans;
 position: absolute;
 left: 1100px;
 top: 2600px;
}
.kotakkuya{
 position: absolute;
 width: 1500px;
 height:30px;
 background:#838383;
 left: -1200px;
 bottom: -100px;
}

.tulisanD{
  position: absolute;
  font-size: smaller;
  margin-left: -540px;
  bottom: -105px;
  color: white;
}

.bayangan{
  position: absolute;
  left: 1000px;
  top: 1200px;
  transform: rotate(-5deg);
}














